#hel{
  display: flex;
  width: 60%;
  margin-left: 20%;
}
#in{
  margin-left: 1rem;
}
#text{
  margin-left: 1rem;
}
#edit{
  margin-right: 1rem;
}
.right{
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1px solid;
}
.left{
  flex: 9;
  display: flex;
  align-items: center;
}
.h{
  display: flex;
  justify-content: center;
}